$orange: #fb7413;
$white: #ffffff;
$light-grey: #959eac;
$medium-grey: #7c879820;
$dark-blue: #252d37;
$dark-blue-70: #252d3790;
$very-dark-blue: #121417;
$font-weight-400: 400;
$font-weight-700: 700;
$font-size-p: 15px;
$font-size-h1: 24px;